*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #e9e9e9;
	color: #2e2e2e;
	font-family: "Oswald",Arial, helvetica, sans-serif;
}
.contedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
h1{
	margin: 20px 0;
	text-align: center;
	font-family: "Oswald",Arial, helvetica, sans-serif;
	color:#ce7f08;
	font-weight: normal;
}
.contenedor .articulos{
	margin-bottom: 20px;
}
.contenedor .articulos ul{
	list-style: none;
}
.contenedor .articulos ul li{
	padding: 15px 10px;
	border-bottom: 1px solid #c8c8c8;
}
.paginacion{

}
.paginacion ul{
	list-style: none;
}
.paginacion ul li{
	display: inline-block;
	margin-right: 10px;
}

.paginacion ul li a{
	display: inline-block;
	font-family: "Oswald",Arial, helvetica, sans-serif;
	padding: 15px 25px;

	color: #fff;
	text-decoration: none;
	background: #424242;
}
.paginacion ul li a:hover{
	text-decoration: none;
	background: red;
}
.paginacion{
	text-align: center;
}
.contenedor{
	text-align: center;
}
.paginacion ul li a.active{
	background: #ce7f08;

	display: inline-block;
	font-family: "Oswald",Arial, helvetica, sans-serif;
	padding: 15px 25px;
	cursor: not-allowed;
	color: #fff;
	text-decoration: none;
}
.paginacion ul li a.disable {
	background: #c8c8c8;

	display: inline-block;
	font-family: "Oswald",Arial, helvetica, sans-serif;
	padding: 15px 25px;
	cursor: not-allowed;
	color: #fff;
	text-decoration: none;
}